/* style.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.messages__item .timestamp {
    font-size: 10px;
    color: black;
    text-align: right;
    display: block;
}

.content p, li{
    padding-top: 0.5em;
}

.content{
    margin-left: 3.5em;
    padding: 1.5em;
    text-align: justify;
    text-justify: inter-word;
    backdrop-filter: blur(20px);
    border-radius: 1.5em;
    /* color: white; */
    filter: brightness(2);
}
.r{
    padding-left: 120px;
    display: flex;
}
.right{
    padding-top: 320px;
    flex: 0.4;
}
.arrimg{
    height: 150px;
    padding-right: 1.5em;
    padding-top: 1em;
}
.left h2{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    margin-left: 2.5em;
    margin-bottom: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    justify-content: left;
    box-sizing: border-box;
    color: white;
}
.left{
    flex: 0.6;
}
body {
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;background-image: url("depositphotos_57444181-Healthy-food-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

*, html, .timestamp {
    --primaryGradient: linear-gradient(180deg, #F74F00, #EDB053);
    --secondaryGradient: linear-gradient(0deg, #F74F00, #EDB053);;
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: darkgreen;
}

/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;
}

/* BUTTON */
.chatbox__button{
    text-align: right;
}

/* .send__button, .speak__button { */
.send__button{
    padding: 9px;
    width: 20%;
    background: darkred;
    /* border-style: solid; */
    border-color: aliceblue;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    /* background: linear-gradient(111.12deg, green 0.52%, yellow 100%); */
    background-image: url('recipe.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-blend-mode:luminosity;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 5px;
    margin-bottom: 5px;
    background: yellowgreen;
    padding: 8px 12px;
    max-width: 75%;
    color: black;
    font-size: 15px;
}

.messages__item ol {
    padding-left: 24px;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator , .messages__item--operator .timestamp{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    /* margin-top: 20px; */
}

.chatbox__footer input {
    width: 75%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: orangered;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}